.image-1 {
  position: relative;
  border-radius: var(--br-126xl-5);
  width: 100%;
  height: 274px;
  background-image: url(./public/image-1@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}
