.big-home-icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 1898px;
  height: 1068px;
  object-fit: cover;
}
.text {
  position: relative;
}
.sampletext {
  position: absolute;
  top: 80px;
  left: calc(50% - 425px);
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  flex-direction: row;
  padding: 32px;
  align-items: flex-start;
  justify-content: center;
}
.homepage {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  height: 1024px;
  overflow: hidden;
  text-align: left;
  font-size: 60px;
  color: var(--color-white);
  font-family: var(--font-inter);
}
